/* header */

header{
    width: 100%;
    height: 100px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .menu{
    display: flex;
}
header .menu .logo_n{
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    display: block;
    overflow: hidden;
}
header .menu nav{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
header .menu nav ul{
    display: flex;
}
header .menu nav ul li{
    margin-right: 40px;
}
header .allmenu{
    display: flex;
}
header .allmenu .menu{
    margin-right: 30px;
}
header .allmenu .menu a{
    margin-right: 10px;
}
/* //header */

/* main */
main{
    width: 100%;
    height: 400vh;
}
main #remain{
    width: 100%;
    height: 100vh;
    position: relative;
}
main .bg_box{
    width: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
main .bg_box img{
    margin: auto;
}
main .bg_line{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
main .bg_line img{
    margin: auto;
}
main .main_camera{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
main .main_text{
    position: absolute;
    top: 55%;
    left: 15%;
    font-size: 3.5rem;
    line-height: 180%;
}

/* banner */
main .allbanner{
    width: 100%;
    height: 130vh;
    background-color: #fff;
    position: relative;
}
main .allbanner .banner{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 100px;
    background-color:#000;
    position: absolute;
    border-bottom-right-radius: 300px;
}
main .allbanner .banner h3{
    font-size: 2rem;
    line-height: 180%;
}
main .allbanner .banner .slide{
    width: 100%;
    height: 100vh;
    position: relative;
}
main .allbanner .banner .slide .sliebox{
    width: 100%;
    height: 100%;
}
main .allbanner .banner .slide_i{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50% , -50%);
}
main .allbanner .banner .slide_i:nth-child(4){
    z-index: 1;
    opacity: 0;
}
main .allbanner .banner .slide_i:nth-child(3){
    z-index: 2;
    opacity: 0;
}
main .allbanner .banner .slide_i:nth-child(2){
    z-index: 3;
    opacity: 0;
}
main .allbanner .banner .slide_i:nth-child(1){
    z-index: 4;
}

main .allbanner .banner .banner_text{
    position: absolute;
    bottom: 10%;
    right: 0;
    padding-right: 100px;
    line-height: 180%;
}
/* //banner */

/* //main */


/* product */
.product{
    width: 100%;
    padding: 0 100px;
    background-color: #fff;
    color: #000;
}
.product .p_header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product .p_header .p_title{
    margin-top: 150px;
}
.product .p_header .p_title h2{
    font-size: 5rem;
    color: #E30613;
    font-weight: 800;
}
.product .p_header .pro_menu{
    margin-top: 150px;
}
.product .p_header .pro_menu ul{
    display: flex;
}
.product .p_header .pro_menu ul li{
    margin-right: 20px;
    position: relative;
    cursor: pointer;
}
.product .p_header .pro_menu ul li span{
    display: block;
    width: 0;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.product .p_header .pro_menu ul li:last-child{
    margin-right: 0;
}
.product .p_header .pro_menu .sel{
    display: none;
    width: 150px;
    height: 50px;
    border: 3px solid #E30613;
    margin-top: 180px;
}
.product .m_box{
    margin-top: 100px;
}
.product .m_title h3{
    font-size: 3rem;
    margin-bottom: 20px;
}
.product .m_title p{
    font-size: 1.5rem;
}
.product .m_camera{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product .m_camera .m_text{
    text-align: center;
}
.product .m_camera .m_text h4{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.product .m_camera .m_text p{
    font-size: 1.4rem;
}
.product .m_camera .m_add{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.product .m_camera .m_add .addtext{
    font-size: 1.5rem;
    font-weight: 800;
    color: #E30613;
    margin-right: 30px;
}

/* 슬라이드 none 처리 */

.product .sl_box{
    display: none;
}
.product .sl_title h3{
    font-size: 3rem;
    margin-bottom: 10px;
}
.product .sl_title p{
    font-size: 1.5rem;
}
.product .sl_camera{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product .sl_camera .sl_text{
    text-align: center;
}
.product .sl_camera .sl_text h4{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.product .sl_camera .sl_text p{
    font-size: 1.4rem;
}
.product .sl_camera .sl_add{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.product .sl_camera .sl_add .addtext{
    font-size: 1.5rem;
    font-weight: 800;
    color: #E30613;
    margin-right: 30px;
}


.product .q_box{
    display: none;
    margin-top: 100px;
}

.product .q_title h3{
    font-size: 3rem;
    margin-bottom: 20px;
}
.product .q_title p{
    font-size: 1.5rem;
}
.product .q_camera{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product .q_camera .q_text{
    text-align: center;
}
.product .q_camera .q_text h4{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.product .q_camera .q_text p{
    font-size: 1.4rem;
}
.product .q_camera .q_add{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.product .q_camera .q_add .addtext{
    font-size: 1.5rem;
    font-weight: 800;
    color: #E30613;
    margin-right: 30px;
}


.product .cl_box{
    display: none;
    margin-top: 100px;
}
.product .cl_title h3{
    font-size: 3rem;
    margin-bottom: 20px;
}
.product .cl_title p{
    font-size: 1.5rem;
}
.product .cl_camera{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product .cl_camera .cl_text{
    text-align: center;
}
.product .cl_camera .cl_text h4{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.product .cl_camera .cl_text p{
    font-size: 1.4rem;
}
.product .cl_camera .cl_add{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.product .cl_camera .cl_add .addtext{
    font-size: 1.5rem;
    font-weight: 800;
    color: #E30613;
    margin-right: 30px;
}

.product .com_box{
    display: none;
    margin-top: 100px;
}
.product .com_title h3{
    font-size: 3rem;
    margin-bottom: 20px;
}
.product .com_title p{
    font-size: 1.5rem;
}
.product .com_camera{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product .com_camera .com_text{
    text-align: center;
}
.product .com_camera .com_text h4{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.product .com_camera .com_text p{
    font-size: 1.4rem;
}
.product .com_camera .com_add{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.product .com_camera .com_add .addtext{
    font-size: 1.5rem;
    font-weight: 800;
    color: #E30613;
    margin-right: 30px;
}

.product .s_box{
    display: none;
    margin-top: 100px;
}
.product .s_title h3{
    font-size: 3rem;
    margin-bottom: 20px;
}
.product .s_title p{
    font-size: 1.5rem;
}
.product .s_camera{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product .s_camera .s_text{
    text-align: center;
}
.product .s_camera .s_text h4{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.product .s_camera .s_text p{
    font-size: 1.4rem;
}
.product .s_camera .s_add{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.product .s_camera .s_add .addtext{
    font-size: 1.5rem;
    font-weight: 800;
    color: #E30613;
    margin-right: 30px;
}

.product .so_box{
    display: none;
    margin-top: 100px;
}
.product .so_title h3{
    font-size: 3rem;
    margin-bottom: 20px;
}
.product .so_title p{
    font-size: 1.5rem;
}
.product .so_camera{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product .so_camera .so_text{
    text-align: center;
}
.product .so_camera .so_text h4{
    font-size: 1.6rem;
    margin-bottom: 20px;
}
.product .so_camera .so_text p{
    font-size: 1.4rem;
}
.product .so_camera .so_add{
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.product .so_camera .so_add .addtext{
    font-size: 1.5rem;
    font-weight: 800;
    color: #E30613;
    margin-right: 30px;
}

/* //product */




/* exhibition */
.exhibition{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 300px;
}
.exhibition .ex_title h3{
    font-size: 2rem;
    font-weight: 800;
    color: #E30613;
    text-align: center;
    margin:100px 0;
}
.exhibition .ex_box{
    width: calc(100% - 400px);
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-left: 300px;
}
.exhibition .ex_box .ex_text{
    width: 80%;
    position: absolute;
    left: 0;
}
.exhibition .ex_box .ex_text .ex_texttitle{
    font-size: 3rem;
    font-weight: 800;
    line-height: 180%;
}
.exhibition .ex_box .ex_text .ex_text1{
    margin-top: 50px;
}
.exhibition .ex_box .ex_text .ex_text1 p{
    margin-bottom: 30px;
}
.exhibition .ex_box .ex_text .ex_line{
    border: 2px solid #E30613;
    width: 90%;
    margin: 50px 0;
}
.exhibition .ex_box .ex_text2 p{
    margin-bottom: 30px;
    line-height: 170%;
}
.exhibition .ex_box .ex_img{
    width: 50%;
    margin-right: 100px;
}
/* //exhibition */



/* class */
.class{
    width: 100%;
    margin-bottom: 100px;
    background-image: url(../images/class/bg.png);
    background-position: center;
    background-size: cover;
}
.class #class_b{
    width: 100%;
    max-width: 1340px;
    padding: 0 20px;
    margin: auto;
    overflow: hidden;
}
.class #class_b .class_title{
    margin-top: 50px;
    margin-bottom: 50px;
}
.class #class_m{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.class #class_m>div{
    min-height: 300px;
}
.class #class_m .class_t1{
    grid-column:1/2;
    grid-row: 1/2;
}
.class #class_m .class_t1 .class_t1title{
    font-size: 2rem;
    font-weight: 800;
    line-height: 150%;
    margin-bottom: 16px;
}
.class #class_m .class_t1 p{
    line-height: 170%;
    padding-right: 50px;
}
.class #class_m .class_t2{
    grid-column: 1/2;
    grid-row: 2/3;
}
.class #class_m .class_t2 .class_t2title{
    font-size: 2rem;
    line-height: 150%;
    font-weight: 800;
    margin-bottom: 16px;
}
.class #class_m .class_t2 p{
    line-height: 170%;
}
.class #class_m .class_t2 .class_t2text p:nth-child(2){
    margin: 30px 0;
}
.class #class_m .class_t2 .class_t2text p:nth-child(3){
    margin-bottom: 80px;
}
.class #class_m .class_t2 .about{
    display: flex;
    align-items:center;
}
.class #class_m .class_t2 .about .abouttitle{
    font-size: 1.5rem;
    font-weight: 800;
    color: #E30613;
    margin-right: 20px;
}
.class #class_m .class_img{
    grid-column: 2/3;
    grid-row: 1/3;
}
/* //class */


/* store*/
.store{
    width: 100%;
    background-color: #fff;
    color: #000;
    margin-bottom: 300px;
    overflow: hidden;
}
.store #store_b{
    padding-left: 300px;
    padding-top: 50px;
    margin-bottom: 150px;
}
.store h2{
    font-size: 3rem;
    font-weight: 800;
    color: #E30613;
    margin-top: 50px;
    margin-bottom: 100px;
}
.store .slide{
    width: 100%;
}
.store .slide .slidebox{
    display: flex;
}
.store .slide .slidebox .slide_i{
    width: 500px;
    height: 700px;
    padding: 30px;
    border: 1px solid #E30613;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.store .slide .slidebox .slide_i:last-child{
    margin-right: 0;
}
.store .slide .slidebox .slide_i .title{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}
.store .slide .slidebox .slide_i img{
    margin: 30px 0;
}
.store .slide .slidebox .slide_i .text{
    line-height: 180%;
    margin-bottom: 10px;
}
/* //store */



/* service */
.service{
    width: 100%;
    margin-bottom: 300px;
}
.service .ser_title{
    font-size: 2rem;
    color: #E30613;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}
.service .allbox{
    width: 100%;
    max-width: 1340px;
    padding: 0 20px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service .allbox .box{
    width: 48%;
    padding: 44px;
    margin-bottom: 50px;
    background-color: #fff;
    color: #000;
}
.service .allbox .box:nth-child(2),:last-child{
    margin-right: 0;
}
.service .allbox .box .titlebox{
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.service .allbox .box .textbox{
    height: 50px;
    font-size: 1.3rem;
    margin-bottom: 100px;
    line-height: 180%;
}
.service .allbox .box .sbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service .allbox .box .sbox .s_add{
    font-size: 1.6rem;
}
/* //service */



/* footer */
footer{
    width: 100%;
    height: fit-content;
    background-color: #fff;
    color: #000;
    padding:0 100px;
}
footer .f_header{
    width: 100%;
    padding-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .f_header .sns{
    display: flex;
}
footer .f_header .sns .face{
    margin-right: 30px;
}
footer .ftmenu{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}
footer .ftmenu .title{
    font-weight: 700;
    margin-bottom: 30px;
}
footer .ftmenu .list{
    margin-bottom: 30px;
}
footer .fcompany{
    width: 100%;
    max-width: 1340px;
    margin: auto;
    margin-bottom: 30px;
}
footer .fcompany ul{
    display: flex;
    justify-content: space-between;
}
footer .fcompany ul li{
    font-size: 0.8rem;
    line-height: 170%;
    margin-right: 45px;
}
footer .fcompany ul li:last-child{
    margin-right: 0;        
}
footer .copy{
    width: 100%;
    padding-right: 170px;
}
footer .copy p{
    width: 100%;
    height: 20px;
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
}
/* //footer */


@media screen and (max-width:1600px) {    

    main .allbanner .banner .slide_i{
        left: 50%;
    }
    .exhibition .ex_box{
        width: calc(100% - 200px);
        margin: auto;
        justify-content: flex-end;
    }
    .exhibition .ex_box .ex_img{
        width: 50%;
        margin-right: 0;
    }
}
@media screen and (max-width:1280px) {
    header{
        padding: 0 40px;
    }
    header .menu nav ul{
        display: none;
    }
    main .allbanner .banner{
        padding: 0 40px;
    }
    main #remain .main_text{
        font-size: 2.5rem;
    }
    .product{
        padding: 0 40px;
    }
    .product .p_header .p_title h2{
        font-size: 4rem;
    }
    .product .m_box .m_title h3{
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .product .m_box .m_title p{
        font-size: 1rem;
    }
    .exhibition .ex_box{
        min-height: 600px;
        height: 100%;
        align-items: center;
    }
    .exhibition .ex_box{
        width: calc(100% - 80px);
    }
    .exhibition .ex_box .ex_text .ex_texttitle{
        font-size: 2.5rem;
    }
    .exhibition .ex_box .ex_img{
        width: 60%;
        margin-right: 0;
    }
    .class #class_m{
        margin-top: 50px;
    }
    footer{
        padding: 0 40px;
    }
    footer .fcompany{
        width: 100%;
    }
    footer .fcompany ul li{
        margin-right: 30px;        
    }
    footer .copy{
        padding-right: 20px;
    }
    
}
@media screen and (max-width:991px) {
    html{
        font-size: 15px;
    }
    main #remain{
        height: 150vh;
    }
    main .allbanner .banner .banner_text{
        padding: 0 30px;
        padding-right: 50px;
    }
    main .allbanner .banner .banner_text br{
        display: none;
    }
    .product .p_header .p_title h2{
        font-size: 3.5rem;
    }
    .product .p_header .pro_menu ul li{
        font-size: 0.8rem;
        margin-right: 15px;
    }
    .store h2{
        font-size: 2.5rem;
    }
    .service .allbox .box{
        padding: 30px;
    }
}
@media screen and (max-width:767px) {
    html{
        font-size: 14px;
    }
    header{
        padding: 0 20px;
    }
    main #remain .main_text{
        font-size: 2rem;
        top: 50%;
    }
    main .allbanner .banner{
        padding: 0 20px;
    }
    main .allbanner .banner .banner_text{
        right: auto;
    }
    .product{
        padding: 0 20px;
    }
    .product .p_header .p_title{
        margin-right: 15px;
    }
    .product .p_header .pro_menu ul li{
        font-size: 0.9rem;
        margin-right: 15px;
    }
    .product .m_camera{
        margin-top: 100px;
    }
    .exhibition .ex_box{
        width: calc(100% - 40px);
    }
    .exhibition .ex_box .ex_text .ex_texttitle{
        font-size: 2rem;
    }
    .service .allbox .box .titlebox{
        font-size: 1.5rem;
    }
    .service .allbox .box .textbox{
        font-size: 1rem;
    }
    .service .allbox .box .sbox .s_add{
        font-size: 1.5rem;
    }
    footer{
        padding: 0 20px;
    }
    footer .fcompany ul li{
        margin-right: 15px;
        font-size: 0.9rem;
    }
    footer .copy p{
        padding-right: 0;
    }
}
@media screen and (max-width:575px) {
    html{
        font-size: 13px;
    }
    main .bg_line{
        width: 90%;
    }
    main .main_camera{
        width: 80%;
    }
    main #remain .main_text{
        top: 65%;
        left: 10%;
    }
    main .allbanner{
        height: 800px;
    }
    main .allbanner .banner{
        border-bottom-right-radius: 150px;
    }
    main .allbanner .banner h3{
        font-size: 1.5rem;
        bottom: 25%;
        position: absolute;
        margin-right: 10px;
    }
    main .allbanner .banner .slide{
        height: 50vh;
    }
    main .allbanner .banner .banner_text{
        padding: 0;
        margin-right: 10px;
    }
    .product .p_header .pro_menu ul{
        display: none;
    }
    .product .p_header .pro_menu .sel{
        display: block;
    }
    .exhibition .ex_box{
        width:100%;
        padding: 0 20px;
        flex-direction: column;
        position: unset;
    }
    .exhibition .ex_box .ex_text{
        width: 100%;
        position: unset;
        order: 2;
    }
    .exhibition .ex_box .ex_img{
        width: 100%;
        order: 1;
    }
    .class{
        background-image: url(../images/class/bg1.png);
        background-position: center;
        background-size: cover;
    }
    .class #class_b .class_title{
        width: 30%;
        margin-bottom: 0;
    }
    .class #class_m{
        margin-top: 0;
        grid-template-columns: 1fr;
    }
    .class #class_m>div{
        min-height: 0;
    }
    .class #class_m .class_t1{
        grid-column: auto;
        grid-row: auto;
        order: 1;
    }
    .class #class_m .class_t2{
        grid-column: auto;
        grid-row: auto;
        order: 3;
    }
    .class #class_m .class_t2 .about{
        width: fit-content;
        margin: 30px auto;
    }
    .class #class_m .class_img{
        width: 50%;
        margin: auto;
        grid-column: auto;
        grid-row: auto;
        order: 2;
    }

    .store h2{
        padding: 0 20px;
    }
    .store #store_b{
        padding-left: 0;
    }
    .store .slide .slidebox .slide_i{
        width: 100%;
    }
    .service .allbox{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service .allbox .box{
        width: 95%;
    }
    footer .ftmenu{
        display: none;
    }
    footer .fcompany{
        margin-top: 50px;
    }
    footer .fcompany ul{
        flex-direction: column;
    }
    footer .fcompany ul li{
        font-size: 1rem;
        margin-bottom: 50px;
    }
    footer .copy p{
        justify-content: flex-start;
    }
}

@media screen and (max-width:450px) {
    html{
        font-size: 12px;
    }
    main #remain .main_text{
        left: 13%;
    }
    main #remain .bg_line{
        width: 85%;
    }
    footer .fcompany{
        margin-bottom: 0;
    }
}
@media screen and (max-width:400px) {
    main .bg_line{
        width: 80%;
    }
    main #remain .main_text{
        font-size: 1.5rem;
    }
    .product .p_header .pro_menu .sel{
        width: 100px;
    }
    .store h2{
        font-size: 2rem;
    }
    .service .allbox .box{
        height: fit-content;
    }
    .service .allbox .box .textbox{
        margin-bottom: 20px;        
    }
}









@media screen and (max-height:450px) {
    header{
        padding: 0 20px;
    }
    main #remain .main_text{
        top: 50%;
        font-size: 2rem;
    }
    main #remain .bg_line{
        width: 90%;
    }
    main .allbanner .banner{
        padding: 0 20px;
    }
    main .allbanner .banner h3{
        font-size: 1.7rem;
        margin-top: 30px;
    }
    main .allbanner .banner .slide{
        width: 80%;
    }
    main .allbanner .banner .banner_text{
        padding: 0 30px;
    }
    main .allbanner .banner .banner_text br{
        display: none;
    }
    .product{
        padding: 0 20px;
    }
    .product .p_header .p_title h2{
        font-size: 3.5rem;
    }
    .exhibition .ex_box{
        width: calc(100% - 40px);
    }
    .exhibition .ex_box .ex_text .ex_texttitle{
        font-size: 1.9rem;
    }
    .class{
        height: fit-content;
    }
    .class #class_m{
        padding-bottom: 50px;
    }
    .class #class_b .class_title{
        margin-bottom: 0;
    }
    .store h2{
        font-size: 2.5rem;
    }
    .service .allbox .box .titlebox{
        font-size: 1.5rem;
    }
    .service .allbox .box .textbox{
        font-size: 1rem;
        height: 50px;
    }
    .service .allbox .box .textbox:nth-child(1){
        margin-bottom: 100px;

    }
    footer{
        height: fit-content;
        padding: 0 20px;
    }
    footer .ftmenu ul li{
        font-size: 1rem;
    }
    footer .fcompany ul li{
        margin-right: 15px;
    }
    footer .copy{
        padding-right: 5px;
    }
}